<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TICKEET BOOKING APP</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row pt-4 mb-3">
        <div class="mx-auto col-10 col-md-8 text-center">
            <a href="/coaches/new" class="btn btn-dark">Add a new coach</a>
        </div>
    </div>
    <% for (let coach of coaches){%>
        <div class="card mb-1 mx-auto col-10 col-md-8 text-center bg-warning">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body d-flex justify-content-between">
                        <h5 class="card-title"><strong>Coach: </strong><%= coach.seq_number %></h5>
                        <h5 class="card-title"><strong>Capacity: </strong><%= coach.capacity %></h5>
                        <a class="btn btn-primary" href="/coaches/<%=coach._id%>">View <%=coach.seq_number%></a>
                        <form action="/coaches/<%= coach._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% }%>

</body>
</html>
